/* Custom CSS */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}
  
h1, h2 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #2e8130;
}

.bgimg {
    background-image: url("pghcustom.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.w3-main {
    padding: 20px;
}

header {
    text-align: center;
    padding: 128px 16px;
    background-color: #333;
    color: white;
}

header h1 {
    font-size: 3em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table td {
    padding: 16px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table .w3-dark-grey {
    background-color: #333;
    color: white;
}

/* Contact Section */
#contact {
    padding: 32px;
    background-color: white;
    color: #777; /* Set the text to gray */
}

#contact h1 {
    font-size: 2.5em;
    color: #333;
}

#contact p {
    font-size: 1.2em;
    color: #777; /* Ensure text inside contact is gray */
}
